.nightmares-blog-post-card {
  width: 100%;
  display: flex;
  max-width: 1600px;
  box-shadow: 4px 4px 10px 0px rgba(18, 18, 18, 0.1);
  transition: 0.3s;
  align-items: stretch;
  flex-direction: row;
  justify-content: space-between;
}
.nightmares-blog-post-card:hover {
  transform: scale(1.02);
}
.nightmares-image {
  width: 50%;
  height: 380px;
  object-fit: cover;
  flex-shrink: 0;
  border-radius: 0px;
}
.nightmares-container {
  display: flex;
  align-items: flex-start;
  padding-top: 32px;
  padding-left: 32px;
  padding-right: 32px;
  flex-direction: column;
  padding-bottom: 32px;
  justify-content: space-between;
  background-color: #ffffff;
}
.nightmares-text {
  margin-bottom: 32px;
}
.nightmares-text2 {
  color: var(--dl-color-gray-500);
  font-size: 1.25rem;
  margin-bottom: 32px;
}



.nightmares-root-class-name3 {
  flex: 0;
  max-width: 1600px;
  align-self: flex-end;
  margin-top: 20px;
}
.nightmares-root-class-name4 {
  margin-top: 20px;
}
.nightmares-root-class-name5 {
  align-self: flex-start;
}
.nightmares-root-class-name6 {
  align-self: flex-start;
}
.nightmares-root-class-name7 {
  align-self: flex-start;
}

.nightmares-root-class-name9 {
  flex: 0;
}
.nightmares-root-class-name10 {
  flex: 0;
}
.nightmares-root-class-name11 {
  flex: 0;
}
@media(max-width: 991px) {
  .nightmares-blog-post-card {
    flex-direction: row;
    justify-content: space-between;
  }
}
@media(max-width: 767px) {
  .nightmares-blog-post-card {
    flex-direction: column;
  }
  .nightmares-image {
    width: 100%;
  }
}

.task-surgeon-blog-post-card {
  width: 100%;
  display: flex;
  max-width: 1400px;
  box-shadow: 4px 4px 10px 0px rgba(18, 18, 18, 0.1);
  transition: 0.3s;
  align-items: stretch;
  flex-direction: row;
  justify-content: space-between;
}
.task-surgeon-blog-post-card:hover {
  transform: scale(1.02);
}
.task-surgeon-image {
  width: 50%;
  height: 380px;
  object-fit: cover;
  flex-shrink: 0;
  border-radius: 0px;
}
.task-surgeon-container {
  display: flex;
  align-items: flex-start;
  padding-top: 32px;
  padding-left: 32px;
  padding-right: 32px;
  flex-direction: column;
  padding-bottom: 32px;
  justify-content: space-between;
  background-color: #ffffff;
}
.task-surgeon-text {
  margin-bottom: 32px;
}
.task-surgeon-text2 {
  color: var(--dl-color-gray-500);
  font-size: 1.25rem;
  margin-bottom: 32px;
}
.task-surgeon-root-class-name {
  max-width: 1600px;
  margin-top: 20px;
}
.task-surgeon-root-class-name1 {
  margin-top: 20px;
}
.task-surgeon-root-class-name2 {
  margin-top: 50px;
}
.task-surgeon-root-class-name3 {
  margin-top: 50px;
}
.task-surgeon-root-class-name4 {
  margin-top: 50px;
}




@media(max-width: 991px) {
  .task-surgeon-blog-post-card {
    flex-direction: row;
    justify-content: space-between;
  }
}
@media(max-width: 767px) {
  .task-surgeon-blog-post-card {
    flex-direction: column;
  }
  .task-surgeon-image {
    width: 100%;
  }
}

.highrise-rampage-highrise-rampage {
  width: 100%;
  display: flex;
  position: relative;
  max-width: 1400px;
  box-shadow: 4px 4px 10px 0px rgba(18, 18, 18, 0.1);
  transition: 0.3s;
  align-items: stretch;
  flex-direction: row;
  justify-content: space-between;
}
.highrise-rampage-highrise-rampage:hover {
  transform: scale(1.02);
}
.highrise-rampage-image {
  width: 50%;
  height: 380px;
  object-fit: cover;
  flex-shrink: 0;
  border-radius: 0px;
}
.highrise-rampage-container {
  display: flex;
  align-items: flex-start;
  padding-top: 32px;
  padding-left: 32px;
  padding-right: 32px;
  flex-direction: column;
  padding-bottom: 32px;
  justify-content: space-between;
  background-color: #ffffff;
}
.highrise-rampage-text {
  margin-bottom: 32px;
}
.highrise-rampage-text1 {
  color: var(--dl-color-gray-500);
  font-size: 1.25rem;
  margin-bottom: 32px;
}
.highrise-rampage-root-class-name {
  max-width: 1600px;
  margin-top: 20px;
}
@media(max-width: 991px) {
  .highrise-rampage-highrise-rampage {
    flex-direction: row;
    justify-content: space-between;
  }
}
@media(max-width: 767px) {
  .highrise-rampage-highrise-rampage {
    flex-direction: column;
  }
  .highrise-rampage-image {
    width: 100%;
  }
}

.push-me1-push-me {
  width: 100%;
  display: flex;
  position: relative;
  max-width: 1400px;
  box-shadow: 4px 4px 10px 0px rgba(18, 18, 18, 0.1);
  transition: 0.3s;
  align-items: stretch;
  flex-direction: row;
  justify-content: space-between;
}
.push-me1-push-me:hover {
  transform: scale(1.02);
}
.push-me1-image {
  width: 50%;
  height: 380px;
  object-fit: cover;
  flex-shrink: 0;
  border-radius: 0px;
}
.push-me1-container {
  display: flex;
  align-items: flex-start;
  padding-top: 32px;
  padding-left: 32px;
  padding-right: 32px;
  flex-direction: column;
  padding-bottom: 32px;
  justify-content: space-between;
  background-color: #ffffff;
}
.push-me1-text {
  margin-bottom: 32px;
}
.push-me1-text1 {
  color: var(--dl-color-gray-500);
  font-size: 1.25rem;
  margin-bottom: 32px;
}
.push-me1-root-class-name {
  max-width: 1600px;
  margin-top: 20px;
}
@media(max-width: 991px) {
  .push-me1-push-me {
    flex-direction: row;
    justify-content: space-between;
  }
}
@media(max-width: 767px) {
  .push-me1-push-me {
    flex-direction: column;
  }
  .push-me1-image {
    width: 100%;
  }
}

.zone-g1-zone-g {
  width: 100%;
  display: flex;
  position: relative;
  max-width: 1400px;
  box-shadow: 4px 4px 10px 0px rgba(18, 18, 18, 0.1);
  transition: 0.3s;
  align-items: stretch;
  flex-direction: row;
  justify-content: space-between;
}
.zone-g1-zone-g:hover {
  transform: scale(1.02);
}
.zone-g1-image {
  width: 50%;
  height: 380px;
  object-fit: cover;
  flex-shrink: 0;
  border-radius: 0px;
}
.zone-g1-container {
  display: flex;
  align-items: flex-start;
  padding-top: 32px;
  padding-left: 32px;
  padding-right: 32px;
  flex-direction: column;
  padding-bottom: 32px;
  justify-content: center;
  background-color: #ffffff;
}
.zone-g1-text {
  text-align: left;
  margin-bottom: 32px;
}
.zone-g1-text1 {
  color: var(--dl-color-gray-500);
  font-size: 1.25rem;
  margin-bottom: 32px;
}
.zone-g1-root-class-name {
  max-width: 1600px;
  margin-top: 20px;
}
@media(max-width: 991px) {
  .zone-g1-zone-g {
    flex-direction: row;
    justify-content: space-between;
  }
}
@media(max-width: 767px) {
  .zone-g1-zone-g {
    flex-direction: column;
  }
  .zone-g1-image {
    width: 100%;
  }
}

.citrus-intolerant-citrus-intolerant {
  width: 100%;
  display: flex;
  position: relative;
  max-width: 1400px;
  box-shadow: 4px 4px 10px 0px rgba(18, 18, 18, 0.1);
  transition: 0.3s;
  align-items: stretch;
  flex-direction: row;
  justify-content: space-between;
}
.citrus-intolerant-citrus-intolerant:hover {
  transform: scale(1.02);
}
.citrus-intolerant-image {
  width: 50%;
  height: 380px;
  object-fit: cover;
  flex-shrink: 0;
  border-radius: 0px;
}
.citrus-intolerant-container {
  display: flex;
  align-items: flex-start;
  padding-top: 32px;
  padding-left: 32px;
  padding-right: 32px;
  flex-direction: column;
  padding-bottom: 32px;
  justify-content: space-between;
  background-color: #ffffff;
}
.citrus-intolerant-text {
  margin-bottom: 32px;
}
.citrus-intolerant-text1 {
  color: var(--dl-color-gray-500);
  font-size: 1.25rem;
  margin-bottom: 32px;
}
.citrus-intolerant-root-class-name {
  max-width: 1600px;
  margin-top: 20px;
}
@media(max-width: 991px) {
  .citrus-intolerant-citrus-intolerant {
    flex-direction: row;
    justify-content: space-between;
  }
}
@media(max-width: 767px) {
  .citrus-intolerant-citrus-intolerant {
    flex-direction: column;
  }
  .citrus-intolerant-image {
    width: 100%;
  }
}

.card-scape-card-scape {
  width: 100%;
  display: flex;
  position: relative;
  max-width: 1400px;
  box-shadow: 4px 4px 10px 0px rgba(18, 18, 18, 0.1);
  transition: 0.3s;
  align-items: stretch;
  flex-direction: row;
  justify-content: space-between;
}
.card-scape-card-scape:hover {
  transform: scale(1.02);
}
.card-scape-image {
  width: 50%;
  height: 380px;
  object-fit: cover;
  flex-shrink: 0;
  border-radius: 0px;
}
.card-scape-container {
  display: flex;
  align-items: flex-start;
  padding-top: 32px;
  padding-left: 32px;
  padding-right: 32px;
  flex-direction: column;
  padding-bottom: 32px;
  justify-content: space-between;
  background-color: #ffffff;
}
.card-scape-text {
  margin-bottom: 32px;
}
.card-scape-text1 {
  color: var(--dl-color-gray-500);
  font-size: 1.25rem;
  margin-bottom: 32px;
}
.card-scape-root-class-name {
  max-width: 1600px;
  margin-top: 20px;
}
@media(max-width: 991px) {
  .card-scape-card-scape {
    flex-direction: row;
    justify-content: space-between;
  }
}
@media(max-width: 767px) {
  .card-scape-card-scape {
    flex-direction: column;
  }
  .card-scape-image {
    width: 100%;
  }
}

.app-component-footer {
  width: 100%;
  display: flex;
  position: relative;
  max-width: 1750%;
  align-self: center;
  align-items: center;
  padding-top: 32px;
  padding-left: 48px;
  padding-right: 48px;
  padding-bottom: 32px;
  justify-content: center;
  background-color: #202020;
}
.app-component-icon-group {
  width: 342px;
  height: 37px;
  display: flex;
  align-items: center;
  margin-left: 0px;
  flex-direction: row;
  justify-content: space-between;
}
.app-component-link {
  display: contents;
}
.app-component-icon {
  fill: #ffffff;
  width: 24px;
  height: 24px;
  transition: 0.3s;
  margin-left: 0px;
  text-decoration: none;
}
.app-component-icon:hover {
  fill: #8a6cff;
  width: 26px;
  height: 26px;
}
.app-component-link1 {
  display: contents;
}
.app-component-icon02 {
  fill: #ffffff;
  width: 24px;
  height: 24px;
  transition: 0.3s;
  margin-left: 20px;
  text-decoration: none;
}
.app-component-icon02:hover {
  fill: #8a6cff;
  width: 26px;
  height: 26px;
}
.app-component-link2 {
  display: contents;
}
.app-component-icon04 {
  fill: #ffffff;
  width: 24px;
  height: 24px;
  transition: 0.3s;
  margin-left: 20px;
  text-decoration: none;
}
.app-component-icon04:hover {
  fill: #8a6cff;
  width: 26px;
  height: 26px;
}
.app-component-link3 {
  display: contents;
}
.app-component-icon06 {
  fill: #ffffff;
  width: 24px;
  height: 24px;
  transition: 0.3s;
  margin-left: 20px;
  text-decoration: none;
}
.app-component-icon06:hover {
  fill: #8a6cff;
  width: 26px;
  height: 26px;
}
.app-component-link4 {
  display: contents;
}
.app-component-icon08 {
  fill: #ffffff;
  width: 24px;
  height: 24px;
  transition: 0.3s;
  margin-left: 20px;
  text-decoration: none;
}
.app-component-icon08:hover {
  fill: #8a6cff;
  width: 26px;
  height: 26px;
}
.app-component-root-class-name {
  background-color: #202020;
}
.app-component-root-class-name1 {
  background-color: #202020;
}
.app-component-root-class-name2 {
  background-color: #202020;
}
@media(max-width: 767px) {
  .app-component-footer {
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media(max-width: 479px) {
  .app-component-footer {
    padding: var(--dl-space-space-unit);
    flex-direction: column;
  }
}

.personal-projects-container {
  width: 100%;
  height: auto;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(0deg, rgb(189, 195, 199) 0.00%,rgb(44, 62, 80) 100.00%);
}
.personal-projects-navbar-container {
  top: 0;
  width: 100%;
  display: flex;
  z-index: 100;
  position: sticky;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.4);
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.personal-projects-navbar {
  width: 100%;
  display: flex;
  position: relative;
  max-width: 100%;
  align-items: center;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-doubleunit);
  justify-content: center;
  background-color: #202020;
}
.personal-projects-links-container {
  width: 1378px;
  height: 47px;
  display: flex;
  align-self: center;
  align-items: center;
  margin-left: 0px;
  margin-right: 0px;
  padding-right: 0px;
  flex-direction: row;
  justify-content: center;
}
.personal-projects-links-container:hover {
  position: relative;
}
.personal-projects-link {
  color: rgb(255, 255, 255);
  font-style: normal;
  transition: 0.3s;
  font-weight: 700;
  margin-right: var(--dl-space-space-tripleunit);
  text-transform: capitalize;
  text-decoration: none;
}
.personal-projects-link:hover {
  color: #8a6cff;
  font-size: 22px;
}

.personal-projects-link01 {
  color: rgb(255, 255, 255);
  font-style: normal;
  transition: 0.3s;
  font-weight: 700;
  margin-right: var(--dl-space-space-tripleunit);
  text-transform: capitalize;
}
.personal-projects-link01:hover {
  color: #8a6cff;
  font-size: 22px;
}

.personal-projects-link02 {
  color: rgb(255, 255, 255);
  font-style: normal;
  transition: 0.3s;
  font-weight: 700;
  margin-right: var(--dl-space-space-tripleunit);
  text-transform: capitalize;
  text-decoration: none;
}
.personal-projects-link02:hover {
  color: #8a6cff;
  font-size: 22px;
}

.personal-projects-link03 {
  color: rgb(255, 255, 255);
  font-style: normal;
  transition: 0.3s;
  font-weight: 700;
  margin-right: var(--dl-space-space-tripleunit);
  text-transform: capitalize;
  text-decoration: none;
}
.personal-projects-link03:hover {
  color: #8a6cff;
  font-size: 22px;
}

.personal-projects-social-bar {
  top: 12px;
  right: 10px;
  width: 342px;
  height: 52px;
  display: flex;
  position: absolute;
  align-items: center;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  flex-direction: row;
  padding-bottom: 0px;
  justify-content: center;
}
.personal-projects-link04 {
  display: contents;
}
.personal-projects-icon {
  fill: #ffffff;
  width: 24px;
  height: 24px;
  transition: 0.3s;
  margin-left: 20px;
  text-decoration: none;
}
.personal-projects-icon:hover {
  fill: #8a6cff;
  width: 28px;
  height: 28px;
}
.personal-projects-link05 {
  display: contents;
}
.personal-projects-icon02 {
  fill: #ffffff;
  width: 24px;
  height: 24px;
  transition: 0.3s;
  margin-left: 20px;
  text-decoration: none;
}
.personal-projects-icon02:hover {
  fill: #8a6cff;
  width: 28px;
  height: 28px;
}
.personal-projects-link06 {
  display: contents;
}
.personal-projects-icon04 {
  fill: #ffffff;
  width: 24px;
  height: 24px;
  transition: 0.3s;
  margin-left: 20px;
  text-decoration: none;
}
.personal-projects-icon04:hover {
  fill: #8a6cff;
  width: 28px;
  height: 28px;
}
.personal-projects-link07 {
  display: contents;
}
.personal-projects-icon06 {
  fill: #ffffff;
  width: 24px;
  height: 24px;
  transition: 0.3s;
  margin-left: 20px;
  text-decoration: none;
}
.personal-projects-icon06:hover {
  fill: #8a6cff;
  width: 28px;
  height: 28px;
}
.personal-projects-link08 {
  display: contents;
}
.personal-projects-icon08 {
  fill: #ffffff;
  width: 24px;
  height: 24px;
  transition: 0.3s;
  margin-left: 20px;
  text-decoration: none;
}
.personal-projects-icon08:hover {
  fill: #8a6cff;
  width: 28px;
  height: 28px;
}
.personal-projects-hero {
  width: 100%;
  height: 249px;
  display: flex;
  padding: 48px;
  min-height: 80vh;
  transition: 0.3s;
  align-items: center;
  border-color: #8a6cff;
  border-style: dashed;
  border-width: 5px;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(0deg, rgb(189, 195, 199) 0.00%,rgb(44, 62, 80) 100.00%);
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}

.personal-projects-text {
  color: var(--dl-color-gray-white);
  font-size: 5rem;
  max-width: 450px;
  margin-top: 32px;
  text-align: center;
  transition: 0.3s;
  line-height: 1;
  margin-bottom: 32px;
}
.personal-projects-text:hover {
  font-size: 5rem;
  text-align: center;
  letter-spacing: -5px;
}

.personal-projects-button {
  color: var(--dl-color-gray-white);
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: var(--dl-space-space-unit);
  background-color: var(--dl-color-gray-black);
}
.personal-projects-button:hover {
  transform: scale(1.02);
}
.personal-projects-steps {
  width: 100%;
  display: flex;
  padding: 48px;
  max-width: 1400px;
  align-items: center;
  flex-direction: column;
}
.personal-projects-container01 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.personal-projects-step {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.personal-projects-container02 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: 2px;
  padding-right: 2px;
  flex-direction: row;
  justify-content: center;
}
.personal-projects-line {
  flex: 1;
  height: 0px;
  display: flex;
  align-items: flex-start;
  border-color: transparent;
  border-style: dashed;
  border-width: 2px;
  flex-direction: row;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.personal-projects-container03 {
  flex: 0 0 auto;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: row;
  justify-content: center;
  background-color: #ffffff;
}
.personal-projects-line1 {
  flex: 1;
  height: 0px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-900);
  border-style: dashed;
  border-width: 2px;
  flex-direction: row;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.personal-projects-container04 {
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: 32px;
  padding-right: 32px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
}
.personal-projects-text01 {
  color: #ffffff;
  font-size: 1.5rem;
  font-style: normal;
  text-align: center;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-unit);
}
.personal-projects-text02 {
  color: rgba(153, 153, 153, 0);
  font-size: 0.75rem;
  text-align: center;
  transition: 0.3s;
}
.personal-projects-text02:active {
  color: rgba(153, 153, 153, 0);
}
.personal-projects-step1 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.personal-projects-container05 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: 2px;
  padding-right: 2px;
  flex-direction: row;
  justify-content: center;
}
.personal-projects-line2 {
  flex: 1;
  height: 0px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-900);
  border-style: dashed;
  border-width: 2px;
  flex-direction: row;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.personal-projects-container06 {
  flex: 0 0 auto;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: row;
  justify-content: center;
  background-color: #ffffff;
}
.personal-projects-line3 {
  flex: 1;
  height: 0px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-900);
  border-style: dashed;
  border-width: 2px;
  flex-direction: row;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.personal-projects-container07 {
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: 32px;
  padding-right: 32px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
}
.personal-projects-text05 {
  color: #ffffff;
  font-size: 1.5rem;
  font-style: normal;
  text-align: center;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-unit);
  text-transform: uppercase;
}
.personal-projects-text06 {
  color: rgba(153, 153, 153, 0);
  font-size: 0.75rem;
  text-align: center;
  transition: 0.3s;
}
.personal-projects-text06:active {
  color: rgba(153, 153, 153, 0);
}
.personal-projects-step2 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.personal-projects-container08 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: 2px;
  padding-right: 2px;
  flex-direction: row;
  justify-content: center;
}
.personal-projects-line4 {
  flex: 1;
  height: 0px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-900);
  border-style: dashed;
  border-width: 2px;
  flex-direction: row;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.personal-projects-container09 {
  flex: 0 0 auto;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: row;
  justify-content: center;
  background-color: #ffffff;
}
.personal-projects-line5 {
  flex: 1;
  height: 0px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-900);
  border-style: dashed;
  border-width: 2px;
  flex-direction: row;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.personal-projects-container10 {
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: 32px;
  padding-right: 32px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
}
.personal-projects-text09 {
  color: #ffffff;
  font-size: 1.5rem;
  font-style: normal;
  text-align: center;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-unit);
  text-transform: uppercase;
}
.personal-projects-text10 {
  color: rgba(153, 153, 153, 0);
  font-size: 0.75rem;
  text-align: center;
  transition: 0.3s;
}
.personal-projects-text10:active {
  color: rgba(153, 153, 153, 0);
}
.personal-projects-step3 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.personal-projects-container11 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: 2px;
  padding-right: 2px;
  flex-direction: row;
  justify-content: center;
}
.personal-projects-line6 {
  flex: 1;
  height: 0px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-900);
  border-style: dashed;
  border-width: 2px;
  flex-direction: row;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.personal-projects-container12 {
  flex: 0 0 auto;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: row;
  justify-content: center;
  background-color: #f5f5f5ff;
}
.personal-projects-line7 {
  flex: 1;
  height: 0px;
  display: flex;
  align-items: flex-start;
  border-color: transparent;
  border-style: dashed;
  border-width: 2px;
  flex-direction: row;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.personal-projects-container13 {
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: 32px;
  padding-right: 32px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
}
.personal-projects-text13 {
  color: #ffffff;
  font-size: 1.5rem;
  font-style: normal;
  text-align: center;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-unit);
  text-transform: uppercase;
}
.personal-projects-text14 {
  color: rgba(153, 153, 153, 0);
  font-size: 0.75rem;
  text-align: center;
  transition: 0.3s;
}
.personal-projects-text14:active {
  color: rgba(153, 153, 153, 0);
}
.personal-projects-blog {
  flex: 1;
  width: 1789px;
  height: 912px;
  display: flex;
  padding: 48px;
  position: relative;
  max-width: 1600px;
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.personal-projects-link09 {
  display: contents;
}
.personal-projects-component {
  text-decoration: none;
}
.personal-projects-link10 {
  display: contents;
}
.personal-projects-component1 {
  text-decoration: none;
}
.personal-projects-link11 {
  display: contents;
}
.personal-projects-component2 {
  text-decoration: none;
}
.personal-projects-link12 {
  display: contents;
}
.personal-projects-push-me {
  text-decoration: none;
}
.personal-projects-link13 {
  display: contents;
}
.personal-projects-zone-g {
  text-decoration: none;
}
.personal-projects-link14 {
  display: contents;
}
.personal-projects-component3 {
  text-decoration: none;
}
.personal-projects-link15 {
  display: contents;
}
.personal-projects-component4 {
  text-decoration: none;
}
@media(max-width: 767px) {
  .personal-projects-links-container {
    display: none;
  }
  .personal-projects-social-bar {
    padding-left: 32px;
    padding-right: 32px;
  }
  .personal-projects-hero {
    padding-left: 32px;
    padding-right: 32px;
  }
  .personal-projects-steps {
    padding-left: 32px;
    padding-right: 32px;
  }
  .personal-projects-container01 {
    align-items: flex-start;
    padding-left: var(--dl-space-space-fiveunits);
    flex-direction: column;
  }
  .personal-projects-step {
    width: 100%;
    height: auto;
    flex-direction: row;
    justify-content: center;
  }
  .personal-projects-container02 {
    width: 48px;
    height: auto;
    align-self: stretch;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    flex-direction: column;
    padding-bottom: 2px;
    justify-content: space-between;
  }
  .personal-projects-line1 {
    border-color: var(--dl-color-gray-900);
    border-style: dashed;
    border-top-width: 0px;
    border-left-width: 2px;
  }
  .personal-projects-container04 {
    width: 100%;
    align-items: flex-start;
    padding-top: 32px;
    flex-direction: column;
    padding-bottom: 32px;
    justify-content: space-between;
  }
  .personal-projects-text01 {
    margin-top: 32px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .personal-projects-text02 {
    text-align: left;
  }
  .personal-projects-step1 {
    width: 100%;
    height: auto;
    flex-direction: row;
    justify-content: center;
  }
  .personal-projects-container05 {
    width: 48px;
    height: auto;
    align-self: stretch;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    flex-direction: column;
    padding-bottom: 2px;
    justify-content: space-between;
  }
  .personal-projects-line2 {
    border-top-width: 0px;
    border-left-width: 2px;
  }
  .personal-projects-line3 {
    border-color: var(--dl-color-gray-900);
    border-style: dashed;
    border-top-width: 0px;
    border-left-width: 2px;
  }
  .personal-projects-container07 {
    width: 100%;
    align-items: flex-start;
    padding-top: 32px;
    flex-direction: column;
    padding-bottom: 32px;
    justify-content: space-between;
  }
  .personal-projects-text05 {
    margin-top: 32px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .personal-projects-text06 {
    text-align: left;
  }
  .personal-projects-step2 {
    width: 100%;
    height: auto;
    flex-direction: row;
    justify-content: center;
  }
  .personal-projects-container08 {
    width: 48px;
    height: auto;
    align-self: stretch;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    flex-direction: column;
    padding-bottom: 2px;
    justify-content: space-between;
  }
  .personal-projects-line4 {
    border-top-width: 0px;
    border-left-width: 2px;
  }
  .personal-projects-line5 {
    border-color: var(--dl-color-gray-900);
    border-style: dashed;
    border-top-width: 0px;
    border-left-width: 2px;
  }
  .personal-projects-container10 {
    width: 100%;
    align-items: flex-start;
    padding-top: 32px;
    flex-direction: column;
    padding-bottom: 32px;
    justify-content: space-between;
  }
  .personal-projects-text09 {
    margin-top: 32px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .personal-projects-text10 {
    text-align: left;
  }
  .personal-projects-step3 {
    width: 100%;
    height: auto;
    flex-direction: row;
    justify-content: center;
  }
  .personal-projects-container11 {
    width: 48px;
    height: auto;
    align-self: stretch;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    flex-direction: column;
    padding-bottom: 2px;
    justify-content: space-between;
  }
  .personal-projects-line6 {
    border-top-width: 0px;
    border-left-width: 2px;
  }
  .personal-projects-line7 {
    border-color: transparent;
    border-style: dashed;
    border-top-width: 0px;
    border-left-width: 2px;
  }
  .personal-projects-container13 {
    width: 100%;
    align-items: flex-start;
    padding-top: 32px;
    flex-direction: column;
    padding-bottom: 32px;
    justify-content: space-between;
  }
  .personal-projects-text13 {
    margin-top: 32px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .personal-projects-text14 {
    text-align: left;
  }
  .personal-projects-blog {
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media(max-width: 479px) {
  .personal-projects-social-bar {
    padding-top: 32px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 32px;
  }
  .personal-projects-hero {
    padding-top: 32px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 32px;
  }
  .personal-projects-steps {
    padding-top: 32px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 32px;
  }
  .personal-projects-container01 {
    padding-left: 0px;
  }
  .personal-projects-container04 {
    padding-top: 32px;
    padding-left: var(--dl-space-space-unit);
    padding-right: 0px;
    padding-bottom: 32px;
  }
  .personal-projects-text01 {
    margin-left: 0px;
    margin-right: 32px;
  }
  .personal-projects-container07 {
    padding-top: 32px;
    padding-left: var(--dl-space-space-unit);
    padding-right: 0px;
    padding-bottom: 32px;
  }
  .personal-projects-text05 {
    margin-left: 0px;
    margin-right: 32px;
  }
  .personal-projects-container10 {
    padding-top: 32px;
    padding-left: var(--dl-space-space-unit);
    padding-right: 0px;
    padding-bottom: 32px;
  }
  .personal-projects-text09 {
    margin-left: 0px;
    margin-right: 32px;
  }
  .personal-projects-container13 {
    padding-top: 32px;
    padding-left: var(--dl-space-space-unit);
    padding-right: 0px;
    padding-bottom: 32px;
  }
  .personal-projects-text13 {
    margin-left: 0px;
    margin-right: 32px;
  }
  .personal-projects-blog {
    padding-top: 32px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 32px;
  }
}
