.app-component-footer {
  width: 100%;
  display: flex;
  position: relative;
  max-width: 1750%;
  align-self: center;
  align-items: center;
  padding-top: 32px;
  padding-left: 48px;
  padding-right: 48px;
  padding-bottom: 32px;
  justify-content: center;
  background-color: #202020;
}
.app-component-icon-group {
  width: 342px;
  height: 37px;
  display: flex;
  align-items: center;
  margin-left: 0px;
  flex-direction: row;
  justify-content: space-between;
}
.app-component-link {
  display: contents;
}
.app-component-icon {
  fill: #ffffff;
  width: 24px;
  height: 24px;
  transition: 0.3s;
  margin-left: 0px;
  text-decoration: none;
}
.app-component-icon:hover {
  fill: #8a6cff;
  width: 26px;
  height: 26px;
}
.app-component-link1 {
  display: contents;
}
.app-component-icon02 {
  fill: #ffffff;
  width: 24px;
  height: 24px;
  transition: 0.3s;
  margin-left: 20px;
  text-decoration: none;
}
.app-component-icon02:hover {
  fill: #8a6cff;
  width: 26px;
  height: 26px;
}
.app-component-link2 {
  display: contents;
}
.app-component-icon04 {
  fill: #ffffff;
  width: 24px;
  height: 24px;
  transition: 0.3s;
  margin-left: 20px;
  text-decoration: none;
}
.app-component-icon04:hover {
  fill: #8a6cff;
  width: 26px;
  height: 26px;
}
.app-component-link3 {
  display: contents;
}
.app-component-icon06 {
  fill: #ffffff;
  width: 24px;
  height: 24px;
  transition: 0.3s;
  margin-left: 20px;
  text-decoration: none;
}
.app-component-icon06:hover {
  fill: #8a6cff;
  width: 26px;
  height: 26px;
}
.app-component-link4 {
  display: contents;
}
.app-component-icon08 {
  fill: #ffffff;
  width: 24px;
  height: 24px;
  transition: 0.3s;
  margin-left: 20px;
  text-decoration: none;
}
.app-component-icon08:hover {
  fill: #8a6cff;
  width: 26px;
  height: 26px;
}
.app-component-root-class-name {
  background-color: #202020;
}
.app-component-root-class-name1 {
  background-color: #202020;
}
.app-component-root-class-name2 {
  background-color: #202020;
}
@media(max-width: 767px) {
  .app-component-footer {
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media(max-width: 479px) {
  .app-component-footer {
    padding: var(--dl-space-space-unit);
    flex-direction: column;
  }
}

.university-work-container {
  width: 100%;
  height: auto;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(0deg, rgb(189, 195, 199) 0.00%,rgb(44, 62, 80) 100.00%);
}
.university-work-navbar-container {
  top: 0;
  width: 100%;
  display: flex;
  z-index: 100;
  position: sticky;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.4);
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.university-work-navbar {
  width: 100%;
  display: flex;
  position: relative;
  max-width: 100%;
  align-items: center;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-doubleunit);
  justify-content: center;
  background-color: #202020;
}
.university-work-links-container {
  width: 1378px;
  height: 47px;
  display: flex;
  align-self: center;
  align-items: center;
  margin-left: 0px;
  margin-right: 0px;
  padding-right: 0px;
  flex-direction: row;
  justify-content: center;
}
.university-work-links-container:hover {
  position: relative;
}
.university-work-link {
  color: rgb(255, 255, 255);
  font-style: normal;
  transition: 0.3s;
  font-weight: 700;
  margin-right: var(--dl-space-space-tripleunit);
  text-transform: capitalize;
  text-decoration: none;
}
.university-work-link:hover {
  color: #8a6cff;
  font-size: 22px;
}

.university-work-link1 {
  color: rgb(255, 255, 255);
  font-style: normal;
  transition: 0.3s;
  font-weight: 700;
  margin-right: var(--dl-space-space-tripleunit);
  text-transform: capitalize;
}
.university-work-link1:hover {
  color: #8a6cff;
  font-size: 22px;
}

.university-work-link2 {
  color: rgb(255, 255, 255);
  font-style: normal;
  transition: 0.3s;
  font-weight: 700;
  margin-right: var(--dl-space-space-tripleunit);
  text-transform: capitalize;
  text-decoration: none;
}
.university-work-link2:hover {
  color: #8a6cff;
  font-size: 22px;
}

.university-work-link3 {
  color: rgb(255, 255, 255);
  font-style: normal;
  transition: 0.3s;
  font-weight: 700;
  margin-right: var(--dl-space-space-tripleunit);
  text-transform: capitalize;
  text-decoration: none;
}
.university-work-link3:hover {
  color: #8a6cff;
  font-size: 22px;
}

.university-work-social-bar {
  top: 12px;
  right: 10px;
  width: 342px;
  height: 52px;
  display: flex;
  position: absolute;
  align-items: center;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  flex-direction: row;
  padding-bottom: 0px;
  justify-content: center;
}
.university-work-link4 {
  display: contents;
}
.university-work-icon {
  fill: #ffffff;
  width: 24px;
  height: 24px;
  transition: 0.3s;
  margin-left: 20px;
  text-decoration: none;
}
.university-work-icon:hover {
  fill: #8a6cff;
  width: 28px;
  height: 28px;
}
.university-work-link5 {
  display: contents;
}
.university-work-icon02 {
  fill: #ffffff;
  width: 24px;
  height: 24px;
  transition: 0.3s;
  margin-left: 20px;
  text-decoration: none;
}
.university-work-icon02:hover {
  fill: #8a6cff;
  width: 28px;
  height: 28px;
}
.university-work-link6 {
  display: contents;
}
.university-work-icon04 {
  fill: #ffffff;
  width: 24px;
  height: 24px;
  transition: 0.3s;
  margin-left: 20px;
  text-decoration: none;
}
.university-work-icon04:hover {
  fill: #8a6cff;
  width: 28px;
  height: 28px;
}
.university-work-link7 {
  display: contents;
}
.university-work-icon06 {
  fill: #ffffff;
  width: 24px;
  height: 24px;
  transition: 0.3s;
  margin-left: 20px;
  text-decoration: none;
}
.university-work-icon06:hover {
  fill: #8a6cff;
  width: 28px;
  height: 28px;
}
.university-work-link8 {
  display: contents;
}
.university-work-icon08 {
  fill: #ffffff;
  width: 24px;
  height: 24px;
  transition: 0.3s;
  margin-left: 20px;
  text-decoration: none;
}
.university-work-icon08:hover {
  fill: #8a6cff;
  width: 28px;
  height: 28px;
}
.university-work-hero {
  width: 100%;
  height: 249px;
  display: flex;
  padding: 48px;
  min-height: 80vh;
  transition: 0.3s;
  align-items: center;
  border-color: #8a6cff;
  border-style: dashed;
  border-width: 5px;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(0deg, rgb(189, 195, 199) 0.00%,rgb(44, 62, 80) 100.00%);
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}

.university-work-text {
  color: #ffffff;
  font-size: 5em;
  text-align: center;
  transition: 0.3s;
  line-height: 1;
  text-transform: capitalize;
}
.university-work-text:hover {
  text-decoration: underline;
}

.university-work-text05 {
  color: rgb(255, 255, 255);
  font-size: 2em;
  font-style: normal;
  margin-top: 20px;
  text-align: center;
  transition: 0.3s;
  font-weight: 600;
  line-height: 1;
  text-transform: capitalize;
}

.university-work-text05:active {
  color: #ffffff;
}
.university-work-physics-engine {
  width: 100%;
  display: flex;
  padding: 48px;
  max-width: 1400px;
  margin-top: 20px;
  transition: 0.3s;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
  background-color: #ffffff;
}
.university-work-physics-engine:hover {
  max-width: 1400px;
  background-color: #cabdff;
}

.university-work-container1 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-right: 96px;
  flex-direction: column;
  justify-content: space-between;
}
.university-work-text06 {
  text-align: center;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.university-work-text07 {
  margin-right: 48px;
}
.university-work-text08 {
  font-size: 25px;
  align-self: flex-start;
  font-style: normal;
  margin-top: 30px;
  font-weight: 700;
  text-transform: uppercase;
}
.university-work-text09 {
  background-color: rgb(138, 108, 255);
}
.university-work-text11 {
  background-color: rgb(138, 108, 255);
}
.university-work-image {
  width: 600px;
  height: 450px;
  object-fit: cover;
  flex-shrink: 0;
}
.university-work-chatting-app {
  width: 100%;
  display: flex;
  padding: 48px;
  max-width: 1400px;
  margin-top: 20px;
  transition: 0.3s;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
  background-color: #ffffff;
}
.university-work-chatting-app:hover {
  max-width: 1400px;
  background-color: #cabdff;
}

.university-work-container2 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-right: 96px;
  flex-direction: column;
  justify-content: space-between;
}
.university-work-text12 {
  text-align: center;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.university-work-text13 {
  margin-right: 48px;
}
.university-work-text17 {
  font-size: 25px;
  align-self: flex-start;
  font-style: normal;
  margin-top: 30px;
  font-weight: 700;
  text-transform: uppercase;
}
.university-work-text18 {
  background-color: rgb(138, 108, 255);
}
.university-work-text20 {
  background-color: rgb(138, 108, 255);
}
.university-work-text22 {
  background-color: rgb(138, 108, 255);
}
.university-work-text24 {
  background-color: rgb(138, 108, 255);
}
.university-work-image1 {
  width: 800px;
  height: 450px;
  object-fit: cover;
  flex-shrink: 0;
}
.university-work-open-gl-graphical-application {
  width: 100%;
  display: flex;
  padding: 48px;
  max-width: 1400px;
  margin-top: 20px;
  transition: 0.3s;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
  background-color: #ffffff;
}
.university-work-open-gl-graphical-application:hover {
  max-width: 1400px;
  background-color: #cabdff;
}

.university-work-container3 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-right: 96px;
  flex-direction: column;
  justify-content: space-between;
}
.university-work-text25 {
  text-align: center;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.university-work-text26 {
  margin-right: 48px;
}
.university-work-text27 {
  font-size: 25px;
  align-self: flex-start;
  font-style: normal;
  margin-top: 30px;
  font-weight: 700;
  text-transform: uppercase;
}
.university-work-text28 {
  background-color: rgb(138, 108, 255);
}
.university-work-text30 {
  background-color: rgb(138, 108, 255);
}
.university-work-text32 {
  background-color: rgb(138, 108, 255);
}
.university-work-image2 {
  width: 600px;
  height: 450px;
  object-fit: cover;
  flex-shrink: 0;
}
.university-work-direct-x-graphics-engine {
  width: 100%;
  display: flex;
  padding: 48px;
  max-width: 1400px;
  margin-top: 20px;
  transition: 0.3s;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
  background-color: #ffffff;
}
.university-work-direct-x-graphics-engine:hover {
  max-width: 1400px;
  background-color: #cabdff;
}

.university-work-container4 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-right: 96px;
  flex-direction: column;
  justify-content: space-between;
}
.university-work-text33 {
  text-align: center;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.university-work-text34 {
  margin-right: 48px;
}
.university-work-text35 {
  font-size: 25px;
  align-self: flex-start;
  font-style: normal;
  margin-top: 30px;
  font-weight: 700;
  text-transform: uppercase;
}
.university-work-text36 {
  background-color: rgb(138, 108, 255);
}
.university-work-text38 {
  background-color: rgb(138, 108, 255);
}
.university-work-image3 {
  width: 800px;
  height: 450px;
  object-fit: cover;
  flex-shrink: 0;
}
.university-work-c-pacman {
  width: 100%;
  display: flex;
  padding: 48px;
  max-width: 1400px;
  margin-top: 20px;
  transition: 0.3s;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
  background-color: #ffffff;
}
.university-work-c-pacman:hover {
  max-width: 1400px;
  background-color: #cabdff;
}

.university-work-container5 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-right: 96px;
  flex-direction: column;
  justify-content: space-between;
}
.university-work-text39 {
  text-align: center;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.university-work-text40 {
  margin-right: 48px;
}
.university-work-text41 {
  font-size: 25px;
  align-self: flex-start;
  font-style: normal;
  margin-top: 30px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: rgb(138, 108, 255);
}
.university-work-image4 {
  width: 600px;
  height: 450px;
  object-fit: cover;
  flex-shrink: 0;
}
.university-work-s-d-l-mario {
  width: 100%;
  display: flex;
  padding: 48px;
  max-width: 1400px;
  margin-top: 20px;
  transition: 0.3s;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
  background-color: #ffffff;
}
.university-work-s-d-l-mario:hover {
  max-width: 1400px;
  background-color: #cabdff;
}

.university-work-container6 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-right: 96px;
  flex-direction: column;
  justify-content: space-between;
}
.university-work-text42 {
  text-align: center;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.university-work-text43 {
  margin-right: 48px;
}
.university-work-text47 {
  font-size: 25px;
  align-self: flex-start;
  font-style: normal;
  margin-top: 30px;
  font-weight: 700;
  text-transform: uppercase;
}
.university-work-text48 {
  background-color: rgb(138, 108, 255);
}
.university-work-text50 {
  background-color: rgb(138, 108, 255);
}
.university-work-image5 {
  width: 600px;
  height: 450px;
  object-fit: cover;
  flex-shrink: 0;
}
@media(max-width: 991px) {
  .university-work-physics-engine {
    flex-direction: column;
  }
  .university-work-container1 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: 48px;
  }
  .university-work-text07 {
    text-align: center;
    margin-left: 48px;
  }
  .university-work-image {
    width: 288px;
    height: 288px;
  }
  .university-work-chatting-app {
    flex-direction: column;
  }
  .university-work-container2 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: 48px;
  }
  .university-work-text13 {
    text-align: center;
    margin-left: 48px;
  }
  .university-work-text14 {
    text-align: center;
    margin-left: 48px;
  }
  .university-work-image1 {
    width: 288px;
    height: 288px;
  }
  .university-work-open-gl-graphical-application {
    flex-direction: column;
  }
  .university-work-container3 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: 48px;
  }
  .university-work-text26 {
    text-align: center;
    margin-left: 48px;
  }
  .university-work-image2 {
    width: 288px;
    height: 288px;
  }
  .university-work-direct-x-graphics-engine {
    flex-direction: column;
  }
  .university-work-container4 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: 48px;
  }
  .university-work-text34 {
    text-align: center;
    margin-left: 48px;
  }
  .university-work-image3 {
    width: 288px;
    height: 288px;
  }
  .university-work-c-pacman {
    flex-direction: column;
  }
  .university-work-container5 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: 48px;
  }
  .university-work-text40 {
    text-align: center;
    margin-left: 48px;
  }
  .university-work-image4 {
    width: 288px;
    height: 288px;
  }
  .university-work-s-d-l-mario {
    flex-direction: column;
  }
  .university-work-container6 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: 48px;
  }
  .university-work-text43 {
    text-align: center;
    margin-left: 48px;
  }
  .university-work-image5 {
    width: 288px;
    height: 288px;
  }
}
@media(max-width: 767px) {
  .university-work-links-container {
    display: none;
  }
  .university-work-social-bar {
    padding-left: 32px;
    padding-right: 32px;
  }
  .university-work-hero {
    padding-left: 32px;
    padding-right: 32px;
  }
  .university-work-physics-engine {
    padding-left: 32px;
    padding-right: 32px;
  }
  .university-work-text07 {
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
  .university-work-chatting-app {
    padding-left: 32px;
    padding-right: 32px;
  }
  .university-work-text13 {
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
  .university-work-text14 {
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
  .university-work-open-gl-graphical-application {
    padding-left: 32px;
    padding-right: 32px;
  }
  .university-work-text26 {
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
  .university-work-direct-x-graphics-engine {
    padding-left: 32px;
    padding-right: 32px;
  }
  .university-work-text34 {
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
  .university-work-c-pacman {
    padding-left: 32px;
    padding-right: 32px;
  }
  .university-work-text40 {
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
  .university-work-s-d-l-mario {
    padding-left: 32px;
    padding-right: 32px;
  }
  .university-work-text43 {
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .university-work-social-bar {
    padding-top: 32px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 32px;
  }
  .university-work-hero {
    padding-top: 32px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 32px;
  }
  .university-work-text {
    font-size: 5.5em;
  }
  .university-work-physics-engine {
    padding-top: 32px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 32px;
  }
  .university-work-image {
    width: 192px;
    height: 192px;
  }
  .university-work-chatting-app {
    padding-top: 32px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 32px;
  }
  .university-work-image1 {
    width: 192px;
    height: 192px;
  }
  .university-work-open-gl-graphical-application {
    padding-top: 32px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 32px;
  }
  .university-work-image2 {
    width: 192px;
    height: 192px;
  }
  .university-work-direct-x-graphics-engine {
    padding-top: 32px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 32px;
  }
  .university-work-image3 {
    width: 192px;
    height: 192px;
  }
  .university-work-c-pacman {
    padding-top: 32px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 32px;
  }
  .university-work-image4 {
    width: 192px;
    height: 192px;
  }
  .university-work-s-d-l-mario {
    padding-top: 32px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 32px;
  }
  .university-work-image5 {
    width: 192px;
    height: 192px;
  }
}
