<div>
  <link href="./blog-post-card2.css" rel="stylesheet" />
  <div class="blog-post-card2-blog-post-card">
    <img
      alt="image"
      src="https://images.unsplash.com/photo-1534528741775-53994a69daeb?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDd8fHBvcnRyYWl0fGVufDB8fHx8MTYyNjM3ODk3Mg&ixlib=rb-1.2.1&w=1000"
      image_src="https://images.unsplash.com/photo-1534528741775-53994a69daeb?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDd8fHBvcnRyYWl0fGVufDB8fHx8MTYyNjM3ODk3Mg&amp;ixlib=rb-1.2.1&amp;h=1000"
      class="blog-post-card2-image"
    />
    <div class="blog-post-card2-container">
      <div class="blog-post-card2-container1"></div>
      <h1 class="blog-post-card2-text"><span>Highrise Rampage</span></h1>
      <span class="blog-post-card2-text1">
        <span>
          Top down shooter where the player needs to get from one elevator to
          the other. within 10 seconds.Along your way there will be obstacles
          that you need to destroy with your weapons. Along your way there will
          be obstacles that you need to destroy with your weapons.
        </span>
      </span>
      <div class="blog-post-card2-container2">
        <div class="blog-post-card2-profile"></div>
      </div>
    </div>
  </div>
</div>
