<div>
  <link href="./card-scape.css" rel="stylesheet" />
  <div class="card-scape-card-scape">
    <img
      alt="image"
      src="393f7b58-21ba-4ffd-a6d5-a9e50f5c13ba"
      image_src="https://images.unsplash.com/photo-1534528741775-53994a69daeb?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDd8fHBvcnRyYWl0fGVufDB8fHx8MTYyNjM3ODk3Mg&amp;ixlib=rb-1.2.1&amp;h=1000"
      class="card-scape-image"
    />
    <div class="card-scape-container">
      <h1 class="card-scape-text"><span>Cardscape</span></h1>
      <span class="card-scape-text1">
        <span>
          A Hyper casual card game where the players goal is too select cards in
          descending order. The timer will keep getting faster meaning you will
          have to keep up! There are many unlockable and purchasable skins for
          the game. There is also a levelling system.
        </span>
      </span>
    </div>
  </div>
</div>
