<div>
  <link href="./cardscape.css" rel="stylesheet" />
  <div class="cardscape-blog-post-card">
    <img
      alt="image"
      src="ee175d92-744b-4a75-9b00-195b681605ca"
      image_src="https://images.unsplash.com/photo-1534528741775-53994a69daeb?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDd8fHBvcnRyYWl0fGVufDB8fHx8MTYyNjM3ODk3Mg&amp;ixlib=rb-1.2.1&amp;h=1000"
      class="cardscape-image"
    />
    <div class="cardscape-container">
      <h1 class="cardscape-text"><span>Cardscape</span></h1>
      <span class="cardscape-text2">
        A Hyper casual card game where the players goal is too select cards in
        descending order. The timer will keep getting faster meaning you will
        have to keep up! There are many unlockable and purchasable skins for the
        game. There is also a levelling system.
      </span>
    </div>
  </div>
</div>
