<div>
  <link href="./citrus-intolerant.css" rel="stylesheet" />
  <div class="citrus-intolerant-citrus-intolerant">
    <img
      alt="image"
      src="393f7b58-21ba-4ffd-a6d5-a9e50f5c13ba"
      image_src="https://images.unsplash.com/photo-1534528741775-53994a69daeb?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDd8fHBvcnRyYWl0fGVufDB8fHx8MTYyNjM3ODk3Mg&amp;ixlib=rb-1.2.1&amp;h=1000"
      class="citrus-intolerant-image"
    />
    <div class="citrus-intolerant-container">
      <h1 class="citrus-intolerant-text"><span>Citrus Intolerant</span></h1>
      <span class="citrus-intolerant-text1">
        <span>
          A hyper casual mobile game where you need to survive as long as you
          can. You play as a carton of milk that looses health while outside of
          milk. There are unlockable cosmetics as well as a world wide
          leaderboard.
        </span>
      </span>
    </div>
  </div>
</div>
