<div>
  <link href="./citrus-intollerant.css" rel="stylesheet" />
  <div class="citrus-intollerant-blog-post-card">
    <img
      alt="image"
      src="/playground_assets/ezgif-7-41d8c1f74795-1500w.gif"
      image_src="https://images.unsplash.com/photo-1534528741775-53994a69daeb?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDd8fHBvcnRyYWl0fGVufDB8fHx8MTYyNjM3ODk3Mg&amp;ixlib=rb-1.2.1&amp;h=1000"
      class="citrus-intollerant-image"
    />
    <div class="citrus-intollerant-container">
      <h1 class="citrus-intollerant-text"><span>Citrus Intolerant</span></h1>
      <span class="citrus-intollerant-text2">
        A hyper casual mobile game where you need to survive as long as you can.
        You play as a carton of milk that looses health while outside of milk.
        There are unlockable cosmetics as well as a world wide leaderboard.
      </span>
    </div>
  </div>
</div>
