.component1-container {
  width: 323px;
  height: 240px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.component1-icon {
  left: 155px;
  width: 90px;
  bottom: 3px;
  height: 81px;
  position: absolute;
  transition: 0.3s;
}
.component1-icon:hover {
  display: none;
}

.component1-icon02 {
  top: 80px;
  left: 154px;
  width: 90px;
  height: 81px;
  position: absolute;
  transition: 0.3s;
}
.component1-icon02:hover {
  display: none;
}
.component1-icon02:active {
  left: 1565px;
  bottom: 48px;
}
.component1-icon04 {
  top: 2px;
  left: 153px;
  width: 90px;
  height: 81px;
  position: absolute;
  transition: 0.3s;
}
.component1-icon04:hover {
  display: none;
}
.component1-icon04:active {
  left: 1565px;
  bottom: 48px;
}
.component1-icon06 {
  left: 77px;
  width: 90px;
  bottom: 2px;
  height: 81px;
  position: absolute;
  transition: 0.3s;
}
.component1-icon06:hover {
  display: none;
}
.component1-icon06:active {
  left: 1565px;
  bottom: 48px;
}
.component1-icon08 {
  left: 0px;
  width: 90px;
  bottom: 0px;
  height: 81px;
  position: absolute;
  transition: 0.3s;
}
.component1-icon08:hover {
  display: none;
}
.component1-icon08:active {
  left: 1565px;
  bottom: 48px;
}
.component1-icon10 {
  right: 3px;
  width: 90px;
  bottom: 2px;
  height: 81px;
  position: absolute;
  transition: 0.3s;
}
.component1-icon10:hover {
  display: none;
}
.component1-icon10:active {
  left: 1565px;
  bottom: 48px;
}
.component1-icon12 {
  top: 79px;
  right: 1px;
  width: 90px;
  height: 81px;
  position: absolute;
  transition: 0.3s;
}
.component1-icon12:hover {
  display: none;
}
.component1-icon12:active {
  left: 1565px;
  bottom: 48px;
}
.component1-icon14 {
  top: 0px;
  right: 0px;
  width: 90px;
  height: 81px;
  position: absolute;
  transition: 0.3s;
}
.component1-icon14:hover {
  display: none;
}
.component1-icon14:active {
  left: 1565px;
  bottom: 48px;
}
