.component-footer {
  width: 100%;
  display: flex;
  position: relative;
  max-width: 1750%;
  align-self: center;
  align-items: center;
  padding-top: 32px;
  padding-left: 48px;
  padding-right: 48px;
  padding-bottom: 32px;
  justify-content: center;
  background-color: #202020;
}
.component-icon-group {
  width: 342px;
  height: 37px;
  display: flex;
  align-items: center;
  margin-left: 0px;
  flex-direction: row;
  justify-content: space-between;
}
.component-link {
  display: contents;
}
.component-icon {
  fill: #ffffff;
  width: 24px;
  height: 24px;
  transition: 0.3s;
  margin-left: 0px;
  text-decoration: none;
}
.component-icon:hover {
  fill: #85d0ff;
  width: 26px;
  height: 26px;
}
.component-link1 {
  display: contents;
}
.component-icon02 {
  fill: #ffffff;
  width: 24px;
  height: 24px;
  transition: 0.3s;
  margin-left: 20px;
  text-decoration: none;
}
.component-icon02:hover {
  fill: #85d0ff;
  width: 26px;
  height: 26px;
}
.component-link2 {
  display: contents;
}
.component-icon04 {
  fill: #ffffff;
  width: 24px;
  height: 24px;
  transition: 0.3s;
  margin-left: 20px;
  text-decoration: none;
}
.component-icon04:hover {
  fill: #85d0ff;
  width: 26px;
  height: 26px;
}
.component-link3 {
  display: contents;
}
.component-icon06 {
  fill: #ffffff;
  width: 24px;
  height: 24px;
  transition: 0.3s;
  margin-left: 20px;
  text-decoration: none;
}
.component-icon06:hover {
  fill: #85d0ff;
  width: 26px;
  height: 26px;
}
.component-link4 {
  display: contents;
}
.component-icon08 {
  fill: #ffffff;
  width: 24px;
  height: 24px;
  transition: 0.3s;
  margin-left: 20px;
  text-decoration: none;
}
.component-icon08:hover {
  fill: #85d0ff;
  width: 26px;
  height: 26px;
}
.component-root-class-name {
  background-color: #202020;
}
.component-root-class-name1 {
  background-color: #202020;
}
.component-root-class-name2 {
  background-color: #202020;
}
@media(max-width: 767px) {
  .component-footer {
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media(max-width: 479px) {
  .component-footer {
    padding: var(--dl-space-space-unit);
    flex-direction: column;
  }
}
