<div>
  <link href="./highrise-rampage.css" rel="stylesheet" />
  <div class="highrise-rampage-highrise-rampage">
    <img
      alt="image"
      src="393f7b58-21ba-4ffd-a6d5-a9e50f5c13ba"
      image_src="https://images.unsplash.com/photo-1534528741775-53994a69daeb?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDd8fHBvcnRyYWl0fGVufDB8fHx8MTYyNjM3ODk3Mg&amp;ixlib=rb-1.2.1&amp;h=1000"
      class="highrise-rampage-image"
    />
    <div class="highrise-rampage-container">
      <h1 class="highrise-rampage-text">Highrise Rampage</h1>
      <span class="highrise-rampage-text1">
        <span>
          This is a top down shooter where you need to get from one elevator to
          the other. You will have 10 seconds to do this. Along your way there
          will be obstacles that you need to destroy with your weapons.
        </span>
      </span>
    </div>
  </div>
</div>
