<div>
  <link href="./nightmares.css" rel="stylesheet" />
  <div class="nightmares-blog-post-card">
    <img
      alt="image"
      src="64ec1c8f-8979-4f6d-bed2-a55d80468874"
      image_src="https://images.unsplash.com/photo-1534528741775-53994a69daeb?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDd8fHBvcnRyYWl0fGVufDB8fHx8MTYyNjM3ODk3Mg&amp;ixlib=rb-1.2.1&amp;h=1000"
      class="nightmares-image"
    />
    <div class="nightmares-container">
      <h1 class="nightmares-text"><span>Nightmares</span></h1>
      <span class="nightmares-text2">
        Puzzle, Platformer game where you the player is stuck in a nightmare.
        The main mechanic of the game is the ability of comparing object to one
        another. For example making objects smaller, larger or equal to each
        other depending on its original size.
      </span>
    </div>
  </div>
</div>
