<div>
  <link href="./push-me.css" rel="stylesheet" />
  <div class="push-me-blog-post-card">
    <img
      alt="image"
      src="4a568e6c-68c5-481f-bf22-a0af6bfde556"
      image_src="https://images.unsplash.com/photo-1534528741775-53994a69daeb?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDd8fHBvcnRyYWl0fGVufDB8fHx8MTYyNjM3ODk3Mg&amp;ixlib=rb-1.2.1&amp;h=1000"
      class="push-me-image"
    />
    <div class="push-me-container">
      <h1 class="push-me-text"><span>Push Me If You Can</span></h1>
      <span class="push-me-text2">
        A 2D platformer where your goal is to push other players into the rising
        lava! Use items to eliminate others while staying alive. Play fast paced
        games with your Friends locally or through Steams remote play. Discover
        new maps and become the best PUSHER out there!
      </span>
    </div>
  </div>
</div>
