.task-surgeon-blog-post-card {
  width: 100%;
  display: flex;
  max-width: 1400px;
  box-shadow: 4px 4px 10px 0px rgba(18, 18, 18, 0.1);
  transition: 0.3s;
  align-items: stretch;
  flex-direction: row;
  justify-content: space-between;
}
.task-surgeon-blog-post-card:hover {
  transform: scale(1.02);
}
.task-surgeon-image {
  width: 50%;
  height: 380px;
  object-fit: cover;
  flex-shrink: 0;
  border-radius: 0px;
}
.task-surgeon-container {
  display: flex;
  align-items: flex-start;
  padding-top: 32px;
  padding-left: 32px;
  padding-right: 32px;
  flex-direction: column;
  padding-bottom: 32px;
  justify-content: space-between;
  background-color: #ffffff;
}
.task-surgeon-text {
  margin-bottom: 32px;
}
.task-surgeon-text2 {
  color: var(--dl-color-gray-500);
  font-size: 1.25rem;
  margin-bottom: 32px;
}
.task-surgeon-root-class-name {
  max-width: 1600px;
  margin-top: 20px;
}
.task-surgeon-root-class-name1 {
  margin-top: 20px;
}
.task-surgeon-root-class-name2 {
  margin-top: 50px;
}
.task-surgeon-root-class-name3 {
  margin-top: 50px;
}
.task-surgeon-root-class-name4 {
  margin-top: 50px;
}




@media(max-width: 991px) {
  .task-surgeon-blog-post-card {
    flex-direction: row;
    justify-content: space-between;
  }
}
@media(max-width: 767px) {
  .task-surgeon-blog-post-card {
    flex-direction: column;
  }
  .task-surgeon-image {
    width: 100%;
  }
}
