<div>
  <link href="./task-surgeon.css" rel="stylesheet" />
  <div class="task-surgeon-blog-post-card">
    <img
      alt="image"
      src="393f7b58-21ba-4ffd-a6d5-a9e50f5c13ba"
      image_src="https://images.unsplash.com/photo-1534528741775-53994a69daeb?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDd8fHBvcnRyYWl0fGVufDB8fHx8MTYyNjM3ODk3Mg&amp;ixlib=rb-1.2.1&amp;h=1000"
      class="task-surgeon-image"
    />
    <div class="task-surgeon-container">
      <h1 class="task-surgeon-text"><span>Task Surgeon</span></h1>
      <span class="task-surgeon-text2">
        Task Surgeon is a surgery style game. You as the player need to complete
        multiple operations throughout the game. As you progress through
        surgeries, you have to delve deeper and deeper into the person. Can you
        complete all surgeries without failing ?
      </span>
    </div>
  </div>
</div>
