<div>
  <link href="./zone-g1.css" rel="stylesheet" />
  <div class="zone-g1-zone-g">
    <img
      alt="image"
      src="393f7b58-21ba-4ffd-a6d5-a9e50f5c13ba"
      image_src="https://images.unsplash.com/photo-1534528741775-53994a69daeb?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDd8fHBvcnRyYWl0fGVufDB8fHx8MTYyNjM3ODk3Mg&amp;ixlib=rb-1.2.1&amp;h=1000"
      class="zone-g1-image"
    />
    <div class="zone-g1-container">
      <h1 class="zone-g1-text"><span>Zone G</span></h1>
      <span class="zone-g1-text1">
        <span>
          Zone G is a game that changes genres as you play it, this means you
          could be playing a first person shooter that suddenly evolves into a
          2D platformer.
        </span>
      </span>
    </div>
  </div>
</div>
